<launch>
     <param name="use_sim_time" value="true" />

    <arg name="PATH_TO_VOCABULARY" value="$(find orb_slam3)/../../../Vocabulary/ORBvoc.txt" />
    <arg name="PATH_TO_SETTINGS_FILE" value="$(find orb_slam3)/config/ros_tum.yaml" />

    <node name="Mono_tum" pkg="orb_slam3" type="Mono" args="$(arg PATH_TO_VOCABULARY) $(arg PATH_TO_SETTINGS_FILE)" output="screen" >
        <remap from="/camera/image_raw" to="/camera/rgb/image_color"/>
    </node>

</launch>
