<launch>
     <param name="use_sim_time" value="false" />

    <arg name="PATH_TO_VOCABULARY" value="$(find orb_slam3)/../../../Vocabulary/ORBvoc.txt" />
    <arg name="PATH_TO_SETTINGS_FILE" value="$(find orb_slam3)/config/monocular/TUM3.yaml" />
    <arg name="PATH_TO_SEQUENCE" value="/root/Dataset/TUM/freiburg3/rgbd_dataset_freiburg3_walking_xyz" />

    <node name="Mono_tum_raw" pkg="orb_slam3" type="Mono_tum_raw" args="$(arg PATH_TO_VOCABULARY) $(arg PATH_TO_SETTINGS_FILE) $(arg PATH_TO_SEQUENCE)" output="screen" >
    </node>

</launch>
